<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head.ejs') %>
    <link rel='stylesheet' href='/stylesheets/upload.css'>
</head>
<body onload="init()">
<%- include('includes/menu.ejs') %>

<div class="container-fluid">
    <h3><%= title %></h3>
    <form class="form-container" action="/record/update" method="post">
        <div class="all_box">
            <div class="picture_box">
                <label>Record Picture</label>
            </div>

            <div class="map_box">
                <label>Record Location</label>
            </div>
            <div class="description_box">
                <div >
                    <div>
                        <div id="initial_form" style="display: block">
                            <p style="display: none" >Please insert the id of the Room you want to Join, if you do not have a room id, click Generate Room</p>
                            <form onsubmit="return false;" style="display: none">
                                <p><label for="name" > Your name </label>
                                    <input type="text" id="name" name="name" value="<%= nickname %>">
                                </p>
                                <p>
                                    <label for="roomNo"> Your room </label>
                                    <input type="text" id="roomNo" name="roomNo" value="<%= bird[0].identification %>">
                                    <button id="roomNoGenerator" onclick="generateRoom()">Generate Room</button>
                                </p>
                                <button id="connect" onclick="connectToRoom()">Connect</button>
                            </form>
                        </div>
                        <div id="chat_interface" style="display: none">
                            <div style="padding: 15px;text-align:center;">
                                <h4> Room: <div id="in_room" style="display: inline"></div></h4>
                            </div>
                            <div id="history" class="boxed"></div>
                            <div id="input" class="bottom boxed">
                                <form onsubmit="return false;" style="width: 100%">
                                    <p>
                                        <label for="name"> Chat: </label>
                                        <input type="text" id="chat_input" name="chat_input" style="width: 80%">
                                        <button id="chat_send" onclick="sendChatText()" style="margin-top: 15px">Send</button>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="identification-time_box">
                <div class="form-group_ind">
                    <label>IDENTIFICATION</label>
                    <input type="text" class="form-control" name="identification" placeholder="Please enter the bird's identification">
                </div>
                <div class="form-group_tim">
                    <label>Time</label>
                    <input type="datetime-local" id="time" name="time" value=""><br><br>
                    <button type="button" onclick="getCurrentTime()">Get Current Time</button>
                </div>
            </div>

        </div>

    </form>
</div>

</body>
<footer class="text-muted bg-indigo" id="footer">
    <%- include('includes/footer.ejs') %>
</footer>
<%- include('includes/script.ejs') %>
</html>
