<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head.ejs') %>
    <link rel='stylesheet' href='/stylesheets/detail.css'>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEXZPPJSRJ5bgO7BekmmN1nBP6es7Vshs&callback=initMap&v=weekly&language=en"
            defer
    ></script>
    <style>
        #map {
            height: 90%;
            width: 90%;
        }

        h3 {
            text-align: center;
        }

    </style>
    <script>
        function initMap() {
            const myLatLng = { lat:<%=bird[0].latitude%>, lng:<%=bird[0].longitude%> };
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 10,
                center: myLatLng,
            });

            const marker= new google.maps.Marker({
                position: myLatLng,
                icon: {
                    url: "https://cdn3.iconfinder.com/data/icons/halloween-detailed/64/halloween_owl-50.png",
                    scaledSize: new google.maps.Size(50, 50),
                },
                map,
            });
            const infowindow = new google.maps.InfoWindow({
                content: "Latitude: " + <%=bird[0].latitude%> + ", Longitude: " + <%=bird[0].longitude%>,
                maxWidth: 100,
            });


            marker.addListener("click", () => {
                infowindow.open({
                    anchor: marker,
                    map,
                });
            });
        }


        window.initMap = initMap;
    </script>
</head>
<body onload="init()">
<%- include('includes/menu.ejs') %>
<div class="Change_box" style="text-align: center;">
    <div style="display: flex; justify-content: center; align-items: center;">
        <h3 id="identification">IDENTIFICATION: <%= bird[0].identification %></h3>
        <button onclick="change_identification()" style="margin-left: 30px">UPDATE</button>
    </div>
</div>

<div id='Change_Pop_up' class="Change_Pop_up">
    <div class="Change_Pop_up-content">
        <div class="input_box">
            <label for="codeInput">Upload Code:</label>
            <input type="text" id="codeInput" placeholder="Upload Code">
        </div>
        <div class="input_box">
            <label for="identificationInput">Update Identification:</label>
            <input type="text" id="identificationInput" placeholder="Update Identification">
        </div>
        <div class="button_group">
            <button onclick="changeIdentification()">Submit</button>
            <button onclick="hide()">Close</button>
        </div>
    </div>
</div>

<style>
    .Change_Pop_up {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9999;
    }

    .Change_Pop_up-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 200px;
        background-color: white;
        margin: 0 auto;
        margin-top: 20vh;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .input_box {
        margin-bottom: 10px;
    }

    label {
        margin-bottom: 5px;
        font-weight: bold;
    }

    input[type="text"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .button_group {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    button {
        padding: 10px 20px;
        background-color: orange;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
</style>



<script>
    function change_identification() {
        var Change_Pop_up = document.getElementById("Change_Pop_up");
        Change_Pop_up.style.display = "block";
        resetInputs();
    }

    function hide() {
        var Change_Pop_up = document.getElementById("Change_Pop_up");
        Change_Pop_up.style.display = "none";
    }

    function resetInputs() {
        var codeInput = document.getElementById("codeInput");
        var identificationInput = document.getElementById("identificationInput");
        codeInput.value = "";
        identificationInput.value = "";
    }

    function changeIdentification() {
        var codeInput = document.getElementById("codeInput");
        var identificationInput = document.getElementById("identificationInput");

        var codeValue = codeInput.value;
        var identificationValue = identificationInput.value;
        var id = '<%= bird[0]._id %>';

        var data = {
            codeValue: codeValue,
            identificationValue: identificationValue,
            id: id
        };

        fetch('http://localhost:3001/record/detail', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // Handle successful response
                    console.log('111', data);
                    const identificationElement = document.getElementById("identification");
                    identificationElement.textContent = `IDENTIFICATION: ${data.bird.identification}`;
                    // Update the frontend UI or perform any other necessary actions
                    hide();
                    alert('Update successful!');
                } else {
                    // Handle error response
                    console.error(data.message);
                    const errorMessage = 'Wrong code. Please try again.';
                    alert(errorMessage);
                }
            })
            .catch(error => {
                console.error(error);
                const errorMessage = 'Wrong code. Please try again.';
                alert(errorMessage);
                // Handle the error case
            });
        }
</script>




    <div class="container-fluid">
    <form class="form-container" action="/record/update" method="post">
        <div class="all_box">
            <div class="picture_box" id="picture_box">
                <div class="label_box">
                <label>Picture</label>
                </div>
                <div class="picture" style="max-width: 38%; max-height: 45%; justify-content: center; align-items: center;">
                    <img src="<%= bird[0].picture %>" style="max-width:100%; max-height: 100%;justify-content: center">
                </div>


            </div>

                <div class="map_box" id="map_box">
                    <label>Record Location</label>
                    <div id="map"></div>
                </div>

            <div id="description_box"  style="overflow-y:scroll; overflow-x:hidden; height:300px;
            background-color: #f5f5f5;border: 1px solid #e67818;border-radius: 5px;">
                <div style="width: 50%; margin: 10px auto 0; text-align: center;">
                    <label for="chat_room">Chat Room</label>
                </div>

                <div style="height: 300px">
                        <div id="initial_form" style="display: block;height: 0px">
                            <p style="display: none" >Please insert the id of the Room you want to Join, if you do not have a room id, click Generate Room</p>
                            <form onsubmit="return false;" style="display: none">
                                <p><label for="name" > Your name </label>
                                    <input type="text" id="name" name="name" value="<%= nickname %>">
                                </p>
                                <p>
                                    <label for="roomNo"> Your room </label>
                                    <input type="text" id="roomNo" name="roomNo" value="<%= bird[0]._id %>">
                                    <button id="roomNoGenerator" onclick="generateRoom()">Generate Room</button>
                                </p>
                                <button id="connect" onclick="connectToRoom()">Connect</button>
                            </form>
                        </div>
                        <div id="chat_interface" style="height: 100%">
                            <div style="text-align:center; visibility: hidden;height: 0px">
                                <div id="who_you_are" style="display: none" value="<%= nickname %>"></div>, <h4> Room: <div id="in_room" style="display: inline"></div></h4>
                            </div>
                            <div id="history" class="boxed" style="height: calc(100% - 60px);"></div>
                            <div id="input" class="bottom boxed">
                                <form id= "chatForm" onsubmit="return false;" style="width: 100%">
                                    <p>
                                    <div id="chat_form" style="display: flex; justify-content: flex-end; align-items: center;">
                                    <label for="name"> YOU: </label>
                                        <input type="text" id="chat_input" name="chat_input" style="width: 75%; margin-right: 10px;">
                                        <button id="chat_send" onclick="sendChatText()" style="padding: 10px 10px; font-size: 13px; border-radius: 5px; background-color: orange; color: #fff; cursor: pointer;">Send</button>
                                    </div>
                                    </p>
                                </form>
                            </div>
                        </div>
                </div>
            </div>
            <style>
                #input {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 10px;
                    border-top: 1px solid #ddd; /* optional, adds a line above the input area */
                }

                #history {
                    height:200px; /* adjust this value based on the height of your input area */
                    overflow-y: auto;
                    background: lightskyblue;
                    padding: 10px;
                    border: 1px solid #ddd;
                    border-radius: 5px;
                    margin-bottom: 10px;
                }

                #chat_input {
                    width: 70%;
                    padding: 5px;
                    border: 1px solid #ddd;
                    border-radius: 5px;
                    box-sizing: border-box;
                }

                #chat_send {
                    width: 20%;
                    text-align: center;
                    padding: 10px;
                    border: none;
                    border-radius: 5px;
                    color: #fff;
                    background-color: #e67818;
                    cursor: pointer;
                    transition: background-color 0.3s ease;
                }

                #chat_send:hover {
                    background-color: #c66e15;
                }

            </style>
            <div class="description-time_box">
                <div class="form-group_ind">
                    <label>Description</label>
                    <span><%= bird[0].description %></span>
                </div>

                <div class="form-group_tim">
                    <label>Time</label>
                    <span><%= bird[0].time %></span>
                </div>
                <style>
                    span {
                        font-size: 15px;
                        color: orange;
                        font-weight: bold;
                        display: block;
                    }
                </style>
            </div>


        </div>

    </form>
</div>

</body>
<footer class="text-muted bg-indigo" id="footer">
    <%- include('includes/footer.ejs') %>
</footer>
<%- include('includes/script.ejs') %>
</html>
