<!DOCTYPE html>
<!--
 @license
 Copyright 2019 Google LLC. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
--><head>
    <%- include('includes/head.ejs') %>
</head>
<body>
<%- include('includes/menu.ejs') %>
    <html>
    <head>
        <title><%= title %></title>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default">
        </script>
        <script>

            function initMap() {
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 14,
            });

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition((position) => {
                    const pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude,
                    };
                    map.setCenter(pos);
                    new google.maps.Marker({
                        position: pos,
                        map,
                        title: "You are here",
                        label: {
                            text: "You",
                            color: "#000",
                            fontWeight: "bold",
                        },
                    });

                });
            }

            setMarkers(map);
            }
            const locations = [];
            const picture=[];
            const description=[];
            <% for (var i = 0; i < birds.length; i++) { %>
            locations.push({
                lat:<%= birds[i].latitude %>,
                lng:<%= birds[i].longitude %>
            });

            picture.push({
                path:'<%= birds[i].picture %>'
            })
            description.push({
                description:'<%= birds[i].description %>'
            })
            <% } %>



            function setMarkers(map) {
                for (var i = 0; i < locations.length; i++) {
                    const marker = new google.maps.Marker({
                        position: {lat: locations[i].lat, lng: locations[i].lng},
                        map,
                        icon: {
                            url: "https://cdn3.iconfinder.com/data/icons/halloween-detailed/64/halloween_owl-50.png",
                            scaledSize: new google.maps.Size(50, 50),
                        },
                        title: "s",
                        zIndex: i,
                    });

                    const infowindow = new google.maps.InfoWindow({
                        content: '<img src="' + picture[i].path + '" width="200" height="200"><br>' + description[i].description,
                        maxWidth: 300,
                    });


                    marker.addListener("click", () => {
                        infowindow.open({
                            anchor: marker,
                            map,
                        });
                    });
                }
            }

            window.initMap = initMap;
        </script>
        <style>
            /**
             * @license
             * Copyright 2019 Google LLC. All Rights Reserved.
             * SPDX-License-Identifier: Apache-2.0
             */
            /*
              * Always set the map height explicitly to define the size of the div element
              * that contains the map.
              */
            #map {
                height: 100%;
            }

            /*
            * Optional: Makes the sample page fill the window.
            */
            html,
            body {
                height: 100%;
                margin: 0;
                padding: 0;
            }
        </style>
    </head>
    <body>
    <div id="map"></div>
    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEXZPPJSRJ5bgO7BekmmN1nBP6es7Vshs&callback=initMap&v=weekly&language=en"
            defer
    ></script>
    </body>
    </html>