<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>BIRD</title>
    <link rel='stylesheet' href='/stylesheets/sightings.css'>
</head>

   <header>
    <h1>BIRD</h1>
    </header>
        <div class="user">Welcome, <%=nickname%></div>
<body>
<div class="container">
    <div class="search-container">
        <input type="text">
        <button>Search</button>
    </div>
    <div class="exit-container">
        <button class="exit-btn">Exit</button>
    </div>

</div>

<table>
    <caption>Sightings List</caption>
        <tr>
            <th>ID</th>
            <th>Time</th>
            <th>Identification</th>
            <th>Location</th>
            <th>User</th>
        </tr>
    <tbody>

       <% var id = (page - 1)*10; %>
       <% for (var i = 0; i < birds.length; i++) { %>
           <tr>
               <td><%=id+i+1 %></td>
               <td><%=birds[i].Time%></td>
               <td><%=birds[i].Identification%></td>
               <td><%=birds[i].location%></td>
               <td><%=birds[i].Witnesses%></td>
        </tr>
    <% } %>
    </tbody>


</table>
<div class="center">
    <ul class="pagination">
        <% for(var i=1; i<=total; i++) { %>
            <li><a href="/sightings?page=<%= i %>"><%= i %></a></li>
        <% } %>
    </ul>
</div>

</body>
</html>
