<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>BIRD</title>
    <link rel='stylesheet' href='/stylesheets/sightings.css'>
</head>

   <header>
    <h1>BIRD</h1>
    </header>
        <div class="user">Welcome, <%= nickname %></div>
<body>
<div class="container">
    <div class="search-container">
        <form action="/sighting/fetchSightingWithPage" method="GET">
            <input style="width: 280px" type="text" name="Witnesses" id="Witnesses" placeholder="username" value="<%= Witnesses %>">
            <button style="width: 85px" type="submit">Search</button>
        </form>
    </div>
    <form action="/logout" method="POST" id="login_form">
        <div class="exit-container">
            <button class="exit-btn" type="submit">Exit</button>
        </div>
    </form>

</div>

<table>
    <caption>Sightings List</caption>
        <tr>
            <th>ID</th>
            <th>Time</th>
            <th>Identification</th>
            <th>Location</th>
            <th>User</th>
        </tr>
    <tbody>

       <% var id = (page - 1 ) * 10; %>
       <% for (var i = 0; i < birds.length; i++) { %>
           <tr>
               <td><%= id + i + 1 %></td>
               <td><%=birds[i].Time%></td>
               <td><%=birds[i].Identification%></td>
               <td><%=birds[i].location%></td>
               <td><%=birds[i].Witnesses%></td>
        </tr>
    <% } %>
    </tbody>


</table>
<div class="center">
    <ul class="pagination">
        <% for(var i=1; i<=total; i++) { %>
            <li><a href="/sighting/fetchSightingWithPage?pageNum=<%= i %>"><%= i %></a></li>
        <% } %>
    </ul>
</div>

</body>
</html>
